body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  height: 100%;
}

body * {
  font-family: 'CircularTT-Book', sans-serif !important;
}

#root {
  height: auto !important; /* real browsers */
  height: 100%; /* IE6: treaded as min-height*/
  overflow: hidden;
  min-height: 100%; /* real browsers */
}

#root * {
  font-family: 'CircularTT-Book', sans-serif;
}

#root .la,
body .la {
  font: normal normal normal 16px/1 LineAwesome !important;
}

input:-internal-autofill-selected {
  background-color: white !important;
}

button.Mui-disabled {
  opacity: 0.3;
}

.deAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}
